# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build 
bin/
obj/
Debug/
Release/

# .NET
*.dll
*.exe
*.pdb
*.cache
*.log

# Rider / JetBrains
.idea/

# NuGet
*.nupkg
packages/

# ASP.NET Core config
appsettings.json
appsettings.*.json

# LaunchSettings
Properties/launchSettings.json
